*{

    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    

}
header{
	/* styling header tag*/
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    height: 15vh;
    background-size: cover;
    background-position: center;
}

.navigationbar ul{
	/* styling ul tag */
    float: right;
	font-weight: bolder;
    list-style-type: none;
    margin-top: 40px;
    margin-right: 40px;
}
.navigationbar ul li{
	/* styling li tag  shows side by side */
    display: inline-block;
}
.navigationbar ul li a{
	/* styling a tag navigation bar white background */
    text-decoration:none ;
    background-color: #0c0b0b;
    font-weight: bold;
    color: #fff;
    padding: 10px 25px;
    border: 1px solid transparent;
    transition: 0.6s ease;
	border-radius: 50px;
}
.navigationbar ul li a:hover{
	/* styling a tag navigation bar hovering effect */
    background: linear-gradient(to bottom, #ff6600 0%, #ff0066 100%);
    color: #fff;
	}
.navigationbar ul li:hover ul {
  box-shadow: 0px 3px 5px 2px #EBECF1;
  visibility: visible;
  opacity: 1;
}
.navigationbar ul li:hover ul li a {
  color: #fff;
}
.navigationbar ul li.active a{
    background: linear-gradient(to bottom, #ff6600 0%, #ff0066 100%);
    color: #fff;
}

.main{
	/* website is shown in middle */
    max-width: 1400px;
    margin: auto;
}
#container{
    width: 1080px; margin:0 auto;

}
.helloimage {
    position: relative;
    text-align: center;
    color: white;
    font-style: oblique;
    
    
}
.middle-right{
    position: absolute;
    font-size: xx-large;
    top: 150px;
    right: 30px;
}
.bodybackground {
    position: relative;
    text-align: left;
    color: rgb(12, 10, 10);
    height: 50%;
    
    
}
#about{
    position: absolute;
    font-size: medium;
    top: 80px;
    left: 40px;
}
#about ol, li{
    margin-left: 20px;
    padding-left: 10px;
    font-size: 120%;
}
#about ul{
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 120%;
}

#about h4{
    margin-left: 20px;
}


  

  

